:root{
    --primarycolor: #F4D684;
    --secundarycolor: #4A4B80;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: var(--primarycolor); */
    width: 100%;
    min-width: 375px;
    /* height: 100vh; */
    height: auto;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* style navigation blok */
header{
    width: 40%;
    height: 100vh;
    min-height: 600px;
    /* border: red solid 1px; */
    background-color: var(--primarycolor);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav{
    width: 100%;
    height: 60%;
    /* border: var(--secundarycolor) solid 1px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

nav .logo{
    width: 30rem;
}

.list-item{
    font-weight:700;
    list-style: none;
    color: var(--secundarycolor);
    margin: .8rem auto;
}
ul li{
    padding-top: 8px;
    padding-bottom: 8px;
}

nav ul a{
    text-decoration: none;
}

nav ul a li:hover{
    transition: 1s;
    transform:scale(1.1);
}

nav ul .second-item{
    border-top: var(--secundarycolor) solid 1px;
    border-bottom: var(--secundarycolor) solid 1px;
}

.vid-anim{
    width: 100%;
    height: 100%;
    border: var(--secundarycolor) solid 1px;
}

/* style navigation blok */

/* style text description */

/*.main-cont{
    width: 60%;
    height: 50%;
    background-color: var(--secundarycolor);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: orchid solid 1px;
}

 .main-cont article{ 
    width: 85%;
    height: 45%;
    border: var(--primarycolor) solid 1px;
    color: var(--primarycolor);
    /* margin-top: 4rem; 
    
}

.main-cont h1{
    margin-bottom: 1rem;
}

.main-cont-img{
    width: 100%;
    height: 5%;
    position: relative;
    bottom: -30rem;
    /* border: red solid 1px; 
    overflow: hidden;
}

.main-cont-img img{
    position: relative;
    width: 150%;
    height: auto;
    /* bottom: -30rem; 
} */

.main-cont{
    width: 60%;
    height: auto;
    background-color: var(--secundarycolor);

}

.main-cont article{
    width: 100%;
    height: 45%;
    /* border: tomato solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-text{
    color: var(--primarycolor);
    width: 90%;
    height: 10rem;
    /* border: tomato solid 1px; */
}

.cont-text h1{
    margin-bottom: 1rem;
}

.main-cont-img{
    width: 100%;
    height: 65%;
    /* border: tomato solid 1px; */
    overflow: hidden;
}

.main-cont-img img{
    width: 115%;
    height: auto;
    position: relative;
    top: -10rem;
}