:root{
    --primarycolor: #F4D684;
    --secundarycolor: #4A4B80;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;

    width: 100vw;
    height: 100vh;
    background-color: var(--primarycolor);
}

